[Desktop Entry]
Encoding=UTF-8
Type=Application
Categories=X-Alterator-System
Icon=sysinfo
Terminal=false
Name=USBGuard
X-Alterator-URI=/usbguard
X-Alterator-Weight=20
Name[ru]=USBGuard
